body{background-color: lightgray;}
h1{color: rosybrown; font-size: 20px; margin: 5px;}
h2{font-size: 18px; margin: 5px;}
h3{font-size: 16px; margin: 5px;}
p{margin: 5px;}
button{background-color: rosybrown; color: white; margin:5px; padding: 5px; border-radius: 5px; border: none;}


.container{width: 33vw; margin: 0 auto;}
.card {background-color: white; padding: 15px; margin:20px; color: lightgray;} 
.text-center{text-align: center;}

.list-inline{padding: 10px; text-align: center;}
.list-inline a{color: gray; text-decoration: none; }
.list-inline i{padding: 5px;}
.list-inline li{display: inline-block; padding: 10px;}
.img-circle{border-radius: 100%;}

#movies p{font-size: 16px;}
#movies img{width: 100px;}
#movies{color: gray; font-size: 16px;}
#img-profile{width: 100px}